head {
  @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway&family=Roboto&family=Roboto+Mono&family=Source+Sans+Pro&display=swap");
}
body {
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
}

.myNav {
  display: block;
  height: 3em;
  background: #1d906e;
  width: 100%;
  z-index: 100;
}
.myNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.myNav li {
  float: left;
}
.myNav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #d1d1d1;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.04em;
  border: solid;
  padding-bottom: 0px;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 0.25em;
}
.myNav li a:hover {
  color: green;
}
.titlestuff {
  display: inline-block;
  margin-left: 3em;
  background-color: #F3F3F3;
  border-radius:1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  transition: all 0.7s ease-in-out;
  box-shadow: 0 1px 1px hsla(0, 0%, 97%, 0.11), 
              0 2px 2px hsla(0, 0%, 97%, 0.11), 
              0 4px 4px hsla(0, 0%, 97%, 0.11), 
              0 8px 8px hsla(0, 0%, 97%, 0.11), 
              0 16px 16px hsla(0, 0%, 97%, 0.11), 
              0 32px 32px hsla(0, 0%, 97%, 0.11);

  
}
.titlestuff:hover {
  
  background-color: #E9E0E0;
  box-shadow: 0 1px 1px hsla(0, 0%, 97%, 0.11),
              0 2px 2px hsla(0, 0%, 97%, 0.12), 
              0 4px 4px hsla(0, 0%, 97%, 0.13),
              0 8px 8px hsla(0, 0%, 97%, 0.14), 
              0 16px 16px hsla(0, 0%, 97%, 0.14), 
  
}
