html {
  scroll-behavior: smooth;
}

head {
  @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway&family=Roboto&family=Roboto+Mono&family=Source+Sans+Pro&display=swap");
}

.myNav {
  display: block;
  height: 3em;
  background: #1d906e;
  width: 100%;
  z-index: 100;
}
.myNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.myNav li {
  float: left;
}
.myNav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #d1d1d1;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.04em;
  border: solid;
  padding-bottom: 0px;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 0.25em;
}
.myNav li a:hover {
  color: green;
}
